$font-path: "/src/assets/font";

@font-face {
    font-family: 'Atkinson';
    src:
        url($font-path + "/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-VariableFont_wght.ttf"),
        url($font-path + "/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: Genos;
    src:
        url($font-path + "/Genos/Genos-VariableFont_wght.ttf"),
        url($font-path + "/Genos/Genos-Italic-VariableFont_wght.ttf");
}