@use "variables";

//=================================
//             Svg
//=================================

@mixin icon {
    width: 25px;
    height: 25px;
    fill: variables.$color-primary-light;
}

@mixin social-media-size {
    width: 48px;
    height: 48px;
}

@mixin social-media-outer-circle {
    fill: variables.$color-primary-dark;
}

@mixin social-media-inner-circle {
    fill: variables.$color-background;
    stroke-width: 0.1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: none;
    stroke: variables.$color-primary-dark;
    stroke-opacity: 1;
    stroke-dashoffset: 0
}

@mixin social-media-logo {
    display: inline;
    fill: variables.$color-primary-light;
}