@use "variables";
@use "./../ressources/fonts";

@mixin body($size) {
    font-family: "Atkinson";
    font-weight: variables.$regular;
    font-style: normal;

    @if $size =="small" {
        font-size: 14px;
    }

    @else if $size =="base" {
        font-size: 16px;
    }

    @else if $size =="large" {
        font-size: 18px;
    }

    line-height: 150%;
}

@mixin header($size) {
    font-family: "Atkinson";
    font-weight: variables.$semibold;
    font-style: normal;
    color: variables.$color-primary-60;
    line-height: 130%;

    @if $size =="small" {
        font-size: 20px;
        letter-spacing: -0.4px;
    }

    @else if $size =="base" {
        font-size: 24px;
        letter-spacing: -0.48px;
    }

    @else if $size =="large" {
        font-size: 28px;
        letter-spacing: -0.56px;
    }

    @else if $size =="xlarge" {
        font-size: 32px;
        letter-spacing: -0.64px;
    }

}

@mixin display($size) {
    font-family: Genos;
    font-weight: variables.$regular;
    font-style: normal;

    @if $size =="small" {
        font-size: 48px;
        letter-spacing: -1.2px;
    }

    @else if $size =="base" {
        font-size: 60px;
        letter-spacing: -1.5px;
    }

    @else if $size =="large" {
        font-size: 72px;
        letter-spacing: -1.8px;
    }

    line-height: 120%;
}

@mixin logo($size, $direction) {
    font-family: Genos;
    font-weight: variables.$regular;
    font-style: italic;

    @if $size =="xsmall" {
        font-size: 28px;
        line-height: 16px;
        letter-spacing: -1.82px;
    }

    @else if $size =="small" {
        font-size: 36px;
        line-height: 20px;
        letter-spacing: -2.34px;
    }

    @else if $size =="base" {
        font-size: 40px;
        line-height: 24px;
        letter-spacing: -2.6px;
    }

    @else if $size =="large" {
        font-size: 56px;
        line-height: 32px;
        letter-spacing: -3.64px;
    }

    @else if $size =="xlarge" {
        font-size: 72px;
        line-height: 40px;
        letter-spacing: -4.68px;
    }

    @if $direction =="horizontal" {
        text-align: start;
    }

    @else if $direction =="vertical" {
        text-align: center;
    }

    color: variables.$color-black;
}

@mixin icon($size) {

    @if $size ==16 {
        width: 16px;
        height: 16px;
    }

    @else if $size ==24 {
        width: 24px;
        height: 24px;
    }

    @else if $size ==32 {
        width: 32px;
        height: 32px;
    }
}

@mixin banner($direction) {
    border-#{$direction}: solid 1px variables.$color-primary-70;

    @if $direction =="top" {
        box-shadow: 0 -5px 5px -6px variables.$color-primary-70;
    }

    @else if $direction =="bottom" {
        box-shadow: 0 5px 5px -6px variables.$color-primary-70;
    }

    width: auto;
    height: fit-content;
    background-color: variables.$color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-#{$direction}: 8px;
    padding-block: 8px;
    padding-inline: 16px;
}