@use "./../abstracts/variables";

body {
    font-family: variables.$font-paragraph;
    color: variables.$color-primary-light;
    text-align: justify;
}

header {
    font-family: variables.$font-header;
}

footer {
    font-family: variables.$font-header;
    text-align: center;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: variables.$color-primary-dark;
    font-family: variables.$font-header;
}

.nav-title {
    color: variables.$color-primary-light;
}

p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

ul {
    display: flex;
    align-items: center;
    padding-left: 1%;

    & :visited {
        color: variables.$color-primary-light;
    }

    & :hover {
        font-weight: bold;
        color: variables.$color-primary-dark;
    }

    & #cart:hover {
        fill: variables.$color-primary-dark;
    }
}

// .ulnav {
//     flex-direction: column;
// }

// .caroussel {
//     ul {
//     display:block
//     }
// }
// @media screen and (min-width: 1024px) {    
//     .ulnav {
//         flex-direction: row;
//         padding: 0%;
//     }
// }