@use "./../abstracts/variables";

body {
    font-family: variables.$font-paragraph;
    color: variables.$color-primary-light;
    text-align: justify;
}

header {
    font-family: variables.$font-header;
}

footer {
    font-family: variables.$font-header;
    text-align: center;
}

a {
    text-decoration: none;
    color: variables.$color-primary-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: variables.$color-primary-dark;
    font-family: variables.$font-header;
}

.nav-title {
    color: variables.$color-primary-light;
}

p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

