@use "./../abstracts/variables";
@use "./../abstracts/mixins";

form button {
    margin-top: 7%;
    border: 1px solid variables.$color-primary-30;
    border-radius: 5px;
    padding: 2%;
    font-size: 1.2em;
    background-color: variables.$color-primary-05;
    color: variables.$color-primary-70;

    &:hover {
        border: 1px solid variables.$color-primary-90;
        background-color: variables.$color-primary-70;
        color: variables.$color-primary-05;
    }
}

.close-button {
    @include mixins.body(small);
    position:absolute;
    top:16px;
    right:16px;
}

@media screen and (min-width: 1024px) {



    #maintenance-button-prev {
        position: absolute;
        top: 40%;
        border: none;
        background: none;
        display: block;
    }

    #maintenance-button-next {
        position: absolute;
        top: 40%;
        right: 5px;
        border: none;
        background: none;
        display: block;

    }
}

.button-read-more {
    background-color: variables.$color-primary-05;
    color: variables.$color-primary-70;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
}