@use "./../abstracts/variables";

.newsletterButton {
        display: none;
    }

    @media screen and (min-width: 1024px) {

        .newsletterButton {
            background-color: variables.$color-background;
            position: fixed;
            top: 20%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px 10px 10px 0px;
            border: solid 1px variables.$color-primary-dark;
            border-left: none;

            &:hover {
                background-color: variables.$color-secondary-light;
            }

            &:hover #newsletterIcon {
                fill: variables.$color-secondary-dark;
            }
        }
    }