@use "./../abstracts/variables";


section.login {
        @media screen and (min-width: 1024px) {
        padding-inline: 25%;
    }
}

form {
    margin-top: 10%;
    display: flex;
    padding: 5%;
    background-color: variables.$color-background;
    flex-direction: column;
    align-items: center;

}

.inputArea {
    width: 100%;
}

label {
    display: block;
    color: variables.$color-primary-dark;
    font-size: 1.5em;
    margin-top: 5%;
}

input {
    display: block;
    background-color: variables.$color-secondary-light;
    border-radius: 10px;
    border: 1px solid variables.$color-secondary-dark;
    width: 90%;
    padding: 4%;
}

.formTitle {
    text-align: center;
}

.formParagraph {
    margin-top: 10%;
    font-size: 1.1em;
}

