@use "./../abstracts/variables";

.scroller {
        height: 415px;
        overflow-y: scroll;
        scrollbar-color: variables.$color-neutral-60 variables.$color-neutral-05;
        scrollbar-width: thin;

        @media screen and (min-width: 1024px) {
            scrollbar-width: auto;
        }

    }