@use "./../abstracts/variables";section.high {

    article {
        width: 90%;
        margin-top: 5%;

    }
    .scroller {
        height: 415px;
        overflow-y: scroll;
        scrollbar-color: #F7F7F7 #006680;
        scrollbar-width: 20px;
    }
    iframe {
        width: 100%;
        margin-top: 10%;
    }
}

section.down {
    margin-top: 5%;

    article {
        margin-top: 5%;
    }

    button {
        display:none;
    }

    .carousel-dot{
        display:none;
    }
}

@media (min-width: 1024px) {
    section.high {

        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        gap: 50px;

        .scroller {
            height: 415px;
            overflow-y: scroll;
            scrollbar-color: #F7F7F7 #006680;
            scrollbar-width: auto;
        }
    }

    section.highleft {
        grid-column: 1;
        padding-right: 80px;

        article {
            border: 1px solid variables.$color-primary-dark;
            padding: 20px;
            margin-bottom: 30px;
        }
    }

    .scroller {

        height: 415px;
        overflow-y: scroll;
        scrollbar-color: variables.$color-background variables.$color-primary-light;
        scrollbar-width: auto;
    }


    section.highright {
        width: 100%;
        grid-column: 2;
    }

    section.down {
        position: relative;
        margin-top: 30px;
        // margin-inline: 120px;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40px 1fr 1fr;
        gap: 40px;
        border: none;
        background-color: variables.$color-background;
        padding: 30px;
        padding-inline: 70px;
        overflow: hidden;


        article {
            border: 1px solid variables.$color-primary-light;
            padding: 10px;
            height: 250px;

        }

        h2 {
            grid-column: 1;
            grid-row: 1;
            position: absolute;
            margin-bottom: 30px;
            border:none;
        }

        .com1 {
            grid-column: 1;
            grid-row: 2;
        }

        .com2 {
            grid-column: 2;
            grid-row: 2;

        }

        .com3 {
            grid-column: 3;
            grid-row: 2;
        }

        .com4 {
            grid-column: 4;
            grid-row: 2;

        }

        .com5 {
            grid-column: 5;
            grid-row: 2;

        }

        .com6 {
            grid-column: 5;
            grid-row: 2;

        }

        .com1 .com2 .com3 .com4 .com5 .com6 {
            transition: transform 2s ease-in-out;
        }

        #maintenance-button-prev {
            position: absolute;
            top: 40%;
            border: none;
            background: none;
            display: block;
        }

        #maintenance-button-next {
            position: absolute;
            top: 40%;
            right: 5px;
            border: none;
            background: none;
            display: block;
        }


        .carousel-dot {
            display: grid;
            grid-template-columns: 6;
            grid-template-rows: 1;
            gap: 10px;
            position: absolute;
            bottom: 20px;
            padding-left: 600px;

            .dot1 {
                grid-column: 1;
                grid-row: 1;
            }

            .dot2 {
                grid-column: 2;
                grid-row: 1;
            }

            .dot3 {
                grid-column: 3;
                grid-row: 1;
            }

            .dot4 {
                grid-column: 4;
                grid-row: 1;
            }

            .dot5 {
                grid-column: 5;
                grid-row: 1;
            }

            .dot6 {
                grid-column: 6;
                grid-row: 1;
            }
        }

    }


}