@use "./../abstracts/variables";

section.login {
    margin-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: variables.$color-background;
    text-align: center;

    // h2 {
    //     margin-top: 50px;
    //     padding-top: 20px;
    // }

    form {
        margin-top: 60px;

        #inputForm {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;

            #loginLabel {
                margin-right: 15px;
                padding-left: 7px;
                padding-right: 5px;
            }

            #login {
                background-color: variables.$color-secondary-light;
                border-color: variables.$color-secondary-dark;
                border-radius: 5px;
                padding: 4px;
            }

            #passwordLabel {
                margin-right: 10px;
                padding: 5px;
            }

            #password {
                background-color: variables.$color-secondary-light;
                border-color: variables.$color-secondary-dark;
                border-radius: 5px;
                padding: 4px;
            }

            #btnForm {
                font-weight: bold;
                margin-top: 30px;
                padding: 15px;
                padding-inline: 40px;
                background-color: variables.$color-secondary-light;
                border-color: variables.$color-secondary-light;
                border-radius: 10px;
            }
        }
    }
}



@media screen and (min-width: 1024px) {
    body {
        section.login {
            margin-top: 30px;
            margin-inline: 33%;
            padding-bottom: 10px;
            border-radius: 10px;
            background-color: variables.$color-background;
            text-align: center;

            h2 {
                margin-top: 50px;
                padding-top: 20px;
            }

            form {
                margin-top: 60px;

                #inputForm {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;

                    #loginLabel {
                        margin-right: 64px;
                        padding-left: 7px;
                        padding-right: 5px;
                    }

                    #login {
                        background-color: variables.$color-secondary-light;
                        border-color: variables.$color-secondary-dark;
                        border-radius: 5px;
                        padding: 4px;
                    }

                    #passwordLabel {
                        margin-right: 10px;
                        padding: 5px;
                    }

                    #password {
                        background-color: variables.$color-secondary-light;
                        border-color: variables.$color-secondary-dark;
                        border-radius: 5px;
                    }

                    #btnForm {
                        font-weight: bold;
                        margin-top: 30px;
                        padding: 15px;
                        padding-inline: 40px;
                        background-color: variables.$color-secondary-light;
                        border-color: variables.$color-secondary-light;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}