// Color theme
$color-primary-05: #eff8ed;
$color-primary-10: #eff8ed;
$color-primary-20: #eff8ed;
$color-primary-30: #eff8ed;
$color-primary-40: #eff8ed;
$color-primary-50: #eff8ed;
$color-primary-60: #eff8ed;
$color-primary-70: #eff8ed;