@use "./../abstracts/variables";
@use "./../abstracts/mixins";

.logo-text {
    display: none;

    @media screen and (min-width: 768px) {
        display: contents;
        @include mixins.logo(small, horizontal);
    }
}

.nav-title {
    display: none;

    &.active {
        display: contents;
        font-size: 1.5em;
    }
}

#user {
    margin-left: auto;
}

.nav-bar {
    display: none;

    &.open {
        display: contents;
        position: absolute;
        top: 49px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem 1rem 1rem;
        background-color: variables.$color-neutral-05;
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .nav-title {
        &.active {
            display: none;
        }
    }

    .nav-bar {
        display: contents;
    }

    .nav-menu {

        flex-direction: row;
        padding-inline: 10px;

        li {
            margin: 0 1rem;
        }
    }
}